.masthead {
  height: 50vh;
  min-height: 300px;
  /* background-image: url("../img/cover.png"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}

.profilePic {
  margin-top: 245px;
  margin-left: 10px;
  width: 220px;
  height: 220px;
}

.postPicSize {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.avatar {
  vertical-align: middle;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.cont {
  position: relative;
}

.prof {
  position: absolute;
  width: 150px;
  border-radius: 50%;
  max-width: 100%;
  height: auto;
  bottom: 20px;
  left: 40px;
  border: 5px solid #ffffff;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  filter: brightness(10%);
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.containerpp:hover .image {
  opacity: 0.3;
}

.containerpp:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
